h4[name=sentence]{
    font-size: 1.5em;
}

.m_title{
    font-size: 1em;
}

h4[name=uploadtitle]{
    font-size: 1.5em;
    color:#1F85DE;
}

.uploadbox p{
    font-size: 4em;
}

.uploadbox h6{
    font-size: 1em;
}
